@tailwind base;
@tailwind components;
@tailwind utilities;

/* fontes usadas 
DIN Next LT Pro:
Ultra Light
Light
Regular
Bold

*/

@font-face {
    font-family: "DIN-light";
    src: url("./fonts/DINNextLTPro-Light.woff2") format("woff2"),
        url("./fonts/DINNextLTPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DIN-ultralight";
    src: url("./fonts/DINNextLTPro-UltraLight.woff2") format("woff2"),
        url("./fonts/DINNextLTPro-UltraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DIN-regular";
    src: url("./fonts/DINNextLTPro-Regular.woff2") format("woff2"),
        url("./fonts/DINNextLTPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DIN-medium";
    src: url("./fonts/DINNextLTPro-Medium.woff2") format("woff2"),
        url("./fonts/DINNextLTPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DIN-bold";
    src: url("./fonts/DINNextLTPro-Bold.woff2") format("woff2"),
        url("./fonts/DINNextLTPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@layer components {
    body {
        @apply m-0 p-0 box-border font-din;
    }

    strong{
        @apply font-din_bold;
    }

    .bpvisor {
        @apply fixed bottom-0 w-8 h-8 left-0 z-50 bg-gray-400 sm:bg-yellow-400 md:bg-red-600 lg:bg-blue-500 xl:bg-green-400 2xl:bg-gray-800 text-center;
        p {
            @apply font-bold text-lg;
            &::before {
                content: "xs";
            }
        }
        @media (min-width: 640px) {
            p::before {
                content: "sm";
            }
        }
        @media (min-width: 768px) {
            p::before {
                content: "md";
            }
        }
        @media (min-width: 1020px) {
            p::before {
                content: "lg";
            }
        }
        @media (min-width: 1214px) {
            p::before {
                content: "xl";
            }
        }
        @media (min-width: 1536px) {
            p::before {
                content: "2xl";
            }
        }
    }

    .header {
        @apply fixed top-0 right-0 w-secondary_xs md:w-full h-20 px-6 md:px-10 z-20 flex justify-between items-center  xl:hidden transition-all duration-300;

        .navbar-burger {
            @apply relative transition-all duration-300 w-6 lg:w-[32px] h-[17px] block z-50;
        }

        .navbar-burger span {
            @apply absolute bg-roxo h-[2px] w-full block transition-all duration-300;
        }

        .navbar-burger span:nth-child(2) {
            top: calc(50% - 2px);
        }
        .navbar-burger span:nth-child(3) {
            top: calc(50% + 5px);
        }

        .navbar-burger.is-active span:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
        }
        .navbar-burger.is-active span:nth-child(2) {
            opacity: 0;
        }
        .navbar-burger.is-active span:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
        }
    }

    .header.is-spying {
        @apply bg-white border-green-500;
    }
  

    .sidebar{
        &__menu{
            @apply relative m-0 p-0 flex flex-col justify-between items-start w-full;

            li{
                @apply relative mb-4 text-[#78787A] transition-all duration-300 ;

                a{
                    @apply relative flex flex-row justify-start items-start opacity-60 transition-all duration-300 pl-24;

                    .itemmark {
                        @apply absolute left-0 top-0 w-3 h-10 opacity-0 transition-all duration-300;
                    }
                    
                    svg{
                        @apply mr-4;
                    }

                    span{
                        @apply block text-sm font-din leading-snug;
    
                        strong{
                            @apply font-din_bold;
                        }
                    }

                    .labelitem{
                        @apply absolute w-[200px] left-20 top-0 opacity-0 block text-left transition-all duration-300 uppercase;
                    }
                }

            }
        }

        &__menu.is-hovered{
            li{
                @apply w-full ;

                a{
                    @apply opacity-100 pl-[33px];

                    .labelitem{
                        @apply opacity-40;
                    }
                    
                    &:hover{
                        .labelitem{
                            @apply opacity-100;
                        }
                    }
                }
            }
        }

        &__lang{
            li{
                @apply mx-4 font-din_bold text-xl text-cinza0/60;

                a{
                    @apply hover:text-cinza0/100 transition-all duration-300;

                    
                }
            }
        }
    }

    .secondaryNav{
        @apply translate-y-secondaryout fixed top-0 h-screen right-0 w-secondary_xs md:w-secondary_md bg-white flex flex-col z-10 pt-[82px] px-6 duration-500 transition-all;

        &__menu {
            li{
                @apply mb-3 w-full;
                a{
                    @apply flex flex-row justify-start items-center text-[17px] uppercase leading-tight text-[#78787A];

                    svg{
                        @apply mr-5;
                    }
                }
            }
        }
    }

    .secondaryNav.is-active{
        @apply translate-y-0;
    }

    .contentsec{
        @apply relative w-full xl:w-contentsec_xl xl:ml-[240px];

        .container{
            @apply relative lg:px-8;
        }

        h1{
            @apply text-white font-din_light uppercase text-[32px] xl:text-[54px] 2xl:text-[68px] leading-[0.98em];
        }

        h4{
            @apply font-din_bold uppercase text-xl xl:text-[22px] 2xl:text-[26px] leading-tight;
        }

        .bigNumber{
            @apply uppercase text-white font-din_light text-[94px] xl:text-[140px] 2xl:text-[200px] leading-tight;
        }

        p{
            @apply font-din_light;
        }

    }

    .iconChapter{
        @apply mt-7 mb-4 xl:my-8 w-5 xl:w-10;
    }

    .borderChapter{
        @apply absolute block xl:hidden z-[5] top-0 left-0 w-2 lg:w-5 h-screen bg-gradient-to-b ;
    }

    /* botoes */
    .borderYbtn{
        @apply relative flex justify-between items-center border-t border-b py-7 px-2 hover:px-5 border-roxo hover:border-transparent transition-all duration-300;

        span{
            @apply uppercase text-roxo 
            text-[26px]
            md:text-[32px]
            xl:text-[22px] leading-tight;
        }

        span + div{
            @apply absolute top-0 left-0 z-0 w-full h-[3px] bg-gradient-to-r from-[#F57920] to-[#781E77] opacity-[0.15] block transition-all duration-300;
        }
    }

    .borderYbtn-sm{
        @apply relative flex justify-between items-center border-t border-b py-7 px-2 hover:px-5 border-roxo hover:border-transparent transition-all duration-300;

        span{
            @apply uppercase text-roxo 
            md:text-[28px]
            xl:text-[22px] leading-tight;
        }

        span + div{
            @apply absolute top-0 left-0 z-0 w-full h-[3px] bg-gradient-to-r from-[#F57920] to-[#781E77] opacity-[0.15] block transition-all duration-300;
        }
    }

    .btnBox{
        @apply flex items-center justify-between p-8 border-[3px] bg-white hover:bg-roxo border-white drop-shadow-lg transition-all duration-300;

        span{
            @apply leading-tight text-[#303330]  duration-300 transition-all;
        }
    }

    .boxDist{
        &__holderimg{
            @apply h-[190px] md:h-[280px] block overflow-hidden;

            img{
                @apply w-full h-full object-cover object-center lg:object-bottom;
            }
        }
        &__bar{
            @apply w-full block h-[18px] 2xl:h-[20px] ;
        }

        span{
            @apply font-din_bold text-[26px] md:text-[40px] block  leading-tight mt-3;

            span{
                @apply text-lg leading-tight mt-0 inline;
            }
        }

        p{
            @apply text-[17px] md:text-xl text-cinzatxt font-din_bold leading-[0.98em];
        }
    }

    .saibamais {
        clip-path: polygon(0% 0%, 0% 100%, 97% 100%, 74% 0%);
    }
    .saibamais-b {
        clip-path: polygon(0% 0%, 0% 100%, 73% 100%, 100% 15%, 94% 0%);
    }

    .footer {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 20%, 90% 0%);
    }
    .footer-sm {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 30%, 80% 0%);    
    }
    .footer-lg {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 80%, 70% 0%);    
    }
    .footer-xl {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 60%, 80% 0%);
    }
    
    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}